@import url(./reset.css);

body h1{
	font-size: 38px;
}

/* 影片 */

.top-main {
	text-align: center;
}

.top-main video {
	width: 100vw;
}

/* 活動照片 */

.sec-block_text {
	margin-top: 50px;
	margin-left: 200px;
}

.sec-block_text h1 {
	display: inline-flex;
	margin-left: 50px;
}

.sec-block_text h1 a:hover {
	transition: 0.3s;
	color: #f37136;
}

.sec-block_pics {
	margin: 40px 35px 0px;
}

.sec-block_pics > ul {
	display: flex;
	margin-top: 50px;
	margin-left: 50px;
}

.sec-block_pics ul > ul {
	width: 600px;
	margin: 10px 0px;
}

.sec-block_pics img {
	width: 300px;
	margin-right: 30px;
	border-radius: 30px;
}

.sec-block_pics a {
	font-size: 14px;
	display: block;
	width: 80px;
	height: 30px;
	outline: 2px dashed white;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	transition: 0.3s;
}

.sec-block_pics a:hover {
	background-color: #f37136;
	color: #474876;
}

/* 頁碼 */
.page {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page a,
.page span {
	margin: 0 7px;
	line-height: 1;
	font-size: 20px;
}

.page span {
	font-size: 40px;
}

.page a:hover,
.page span:hover {
	color: #f37136;
}

