footer {
  height: 200px;
  width: 100%;
  background-color: #34866e;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 300px;
  color: white;
}

footer iframe {
  width: 300px;
  height: 185px;
  border-radius: 5%;
  margin: 0px 80px;
}

.contactinfo {
  margin-left: 30px;
  min-width: 300px;
}

.contactinfo a {
  margin-right: 10px;
}

.footer-pics {
  height: 500px;
  position: absolute;
  bottom: 0px;
  left: 900px;
}

.m1{
  height: 150px;
  position: absolute;
  top: -130px;
  left: 805px;
  z-index: -1;
}

.m2{
  height: 150px;
  position: absolute;
  top: -120px;
  left: 750px;
  z-index: -2;
}

.m3{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 660px;
  z-index: -3;
}

.m4{
  height: 160px;
  position: absolute;
  top: -120px;
  left: 320px;
  z-index: -1;
}

.m5{
  height: 160px;
  position: absolute;
  top: -110px;
  left: 260px;
  z-index: -2;
}
.m6{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 140px;
  z-index: -3;
}