body {
	width: 100%;
	background-color: #8cd2ca;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	color: white;
	line-height: 1.8;
	font-weight: bold;
}

.wrapper {
}

h1 {
  font-family: "Stick";
  font-size: 58px;
  font-weight: normal;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 16px;
	color: #474876;
}

a {
	text-decoration: none;
	color: white;
}

.top-header {
	background-color: #8cd2ca;
	width: 100%;
	height: 150px;
	position: relative;
	padding-top: 40px;
}

.log a:first-child {
  position: absolute;
  top: 30px;
  right: 100px;
}
.log a:last-child {
  position: absolute;
  top: 30px;
  right: 50px;
}

.top-header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.top-header ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  border-bottom: 3px solid transparent;
}

.top-header ul li:not(:nth-child(4)){
  height: 100px;
  line-height: 50px;
}

.top-header ul>li>img{
    transform: translateY(80px);
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.top-header .stay{
  transform: translateY(-15px);
}

.top-header ul>li:hover>img{
  transform: translateY(-15px);
}

.top-header a {
	text-decoration: none;
	color: #4b527c;
	font-size: 20px;
	font-weight: bold;
  position: relative;
  z-index: 2;
}

.top-header img {
  height: 80px;
}

.top-header a:visited {
  color: #4b527c;
}