body {
	width: 100%;
	background-color: #8cd2ca;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	color: white;
	line-height: 1.8;
	font-weight: bold;
}

.wrapper {
}

h1 {
  font-family: "Stick";
  font-size: 58px;
  font-weight: normal;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 16px;
	color: #474876;
}

a {
	text-decoration: none;
	color: white;
}

.top-header {
	background-color: #8cd2ca;
	width: 100%;
	height: 150px;
	position: relative;
	padding-top: 40px;
}

@media (max-width:768px){
  .top-header{
    height: 80px;
  }
}

.log a:first-child {
  position: absolute;
  top: 30px;
  right: 100px;
}
.log a:last-child {
  position: absolute;
  top: 30px;
  right: 50px;
}

@media (max-width:768px){
  .log{
    visibility: hidden;
  } 
}

.top-header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

@media (max-width:768px){
  .top-header ul{
    visibility: hidden;
  } 
}

.top-header ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  border-bottom: 3px solid transparent;
}

.top-header ul li:not(:nth-child(4)){
  height: 100px;
  line-height: 50px;
}

.top-header ul>li>img{
    transform: translateY(80px);
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.top-header .stay{
  transform: translateY(-15px);
}

.top-header ul>li:hover>img{
  transform: translateY(-15px);
}

.top-header a {
	text-decoration: none;
	color: #4b527c;
	font-size: 20px;
	font-weight: bold;
  position: relative;
  z-index: 2;
}

.top-header img {
  height: 80px;
}

.top-header a:visited {
  color: #4b527c;
}


/* 漢堡選單 */

.hambergur-section{
  display: none;
}

.mask.on{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
}

@media (max-width:768px){
  .hambergur-section{
    display: block;
  }
}


.hamburger-btn{
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
}


.hamburger-btn .line{
  display: block;
  width: 40px;
  height: 5px;
  background-color: #4b527c;
  margin: 8px auto;
  border-radius: 5px;
  transition: 1s;
  position: relative;
}


.hamburger-btn.open .line:nth-child(1){
  transform: translateY(10px) rotate(315deg);
  transform-origin: center;
}
.hamburger-btn.open .line:nth-child(2){
  transform: scale(0)
}
.hamburger-btn.open .line:nth-child(3){
  transform: translateY(-16px) rotate(45deg) ;
  transform-origin: center;
}


/* 漢堡內容 */

.hamburger{
  display: flex;
  background-color: #f37136;
  border:2px dotted #FFBCBC;
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  
  z-index: 98;
}




.hamburger .hamburger-btn_item{
  position: relative;
  margin-top: 40px;
}

.logo img{
  width: 150px;
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 100;
}

.hamburger .hamburger-btn_item .log1 a{
  color:#4b527c;
  font-size: 20px;
  margin: 10px;
}


.hamburger .hamburger-btn_item ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.hamburger .hamburger-btn_item ul li{
  
  width: 100%;
  text-align: center;
}

.hamburger .hamburger-btn_item ul>li>a{
  display: block;
  color:#4b527c;
  font-size: 20px;
}

.hamburger .hamburger-btn_item ul>li>a:hover{
  background-color: #FFBCBC;
  color:white;
}

.hamburger .hamburger-btn_item .info{
  display: flex;
  width: 200px;
  margin: 0 auto;
}

.hamburger .hamburger-btn_item .info div{
  text-align: center;
  flex-grow: 1;
}

.hamburger .hamburger-btn_item .info img{
  width: 25px;
  height: 25px;
}