@import url(./reset.css);
body {
  width: 100%;
  background-color: #8cd2ca;
  font-family: "微軟正黑體", Helvetica, Arial;
  color: white;
  line-height: 1.8;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}


h1 {
  font-family: "RocknRoll One";
  font-size: 58px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  color: #474876;
}

a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.top-header {
  background-color: #caf0eb;
  width: 100%;
  height: 150px;
  position: relative;
  padding-top: 40px;
}

@media (max-width:768px){
  .top-header{
    height: 80px;
  }
}



.log a:first-child {
  position: absolute;
  top: 30px;
  right: 100px;
}
.log a:last-child {
  position: absolute;
  top: 30px;
  right: 50px;
}

@media (max-width:768px){
  .log{
    visibility: hidden;
  } 
}

.top-header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

@media (max-width:768px){
  .top-header ul{
    visibility: hidden;
  } 
}

.top-header ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  border-bottom: 3px solid transparent;
}

.top-header ul li:not(:nth-child(4)){
  height: 100px;
  line-height: 50px;
}

.top-header ul>li>img{
  transform: translateY(80px);
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top-header ul>li:hover>img{
  transform: translateY(-15px);
}

.top-header a {
	text-decoration: none;
	color: #4b527c;
	font-size: 20px;
	font-weight: bold;
  position: relative;
  z-index: 2;
}

.top-header img {
  height: 80px;
}

.top-header a:visited {
  color: #4b527c;
}


/* 漢堡選單 */

.hambergur-section{
  display: none;
}

.mask.on{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
}

@media (max-width:768px){
  .hambergur-section{
    display: block;
  }
}


.hamburger-btn{
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
}


.hamburger-btn .line{
  display: block;
  width: 40px;
  height: 5px;
  background-color: #4b527c;
  margin: 8px auto;
  border-radius: 5px;
  transition: 1s;
  position: relative;
}


.hamburger-btn.open .line:nth-child(1){
  transform: translateY(10px) rotate(315deg);
  transform-origin: center;
}
.hamburger-btn.open .line:nth-child(2){
  transform: scale(0)
}
.hamburger-btn.open .line:nth-child(3){
  transform: translateY(-16px) rotate(-495deg) ;
  transform-origin: center;
}


/* 漢堡內容 */

.hamburger{
  display: flex;
  background-color: #f37136;
  border:2px dotted #FFBCBC;
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  
  z-index: 98;
}




.hamburger .hamburger-btn_item{
  position: relative;
  margin-top: 40px;
}

.logo img{
  width: 150px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 100;
}

.hamburger .hamburger-btn_item .log1 a{
  color:#4b527c;
  font-size: 20px;
  margin: 10px;
}


.hamburger .hamburger-btn_item ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.hamburger .hamburger-btn_item ul li{
  
  width: 100%;
  text-align: center;
}

.hamburger .hamburger-btn_item ul>li>a{
  display: block;
  color:#4b527c;
  font-size: 20px;
}

.hamburger .hamburger-btn_item ul>li>a:hover{
  background-color: #FFBCBC;
  color:white;
}

.hamburger .hamburger-btn_item .info{
  display: flex;
  width: 200px;
  margin: 0 auto;
}

.hamburger .hamburger-btn_item .info div{
  text-align: center;
  flex-grow: 1;
}

.hamburger .hamburger-btn_item .info img{
  width: 25px;
  height: 25px;
}


/* 導覽列結束 */

.house{
  width: 80px;
  position: absolute;
  bottom: 0px;
  left: 25%;
  font-size: 0;
}

.fans{
  width: 80px;
  position: absolute;
  top: -50px;
  left: -20px;
  font-size: 0;
}

.house img {
  height: 100px;
}

.fans img {
  height: 110px;
  animation: fans 30s linear infinite;
}

@keyframes fans {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.castle{
  width: 80px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
}

.castle img{
  height: 80px;
}

.airballon{
  background-image: url(../img/airballon.png);
  width: 163px;
  height: 212px;
  position: absolute;
  top: 150px;
  left: 960px;
  transform: scale(0.3);
  z-index: -1;
  animation: move 10s linear infinite alternate
}

@keyframes move {
  from {
    transform:translatey(0px) scale(0.3);
  }
  to {
    transform:translatey(100px) scale(0.3);
  }
}



/* 字體動畫 */
.welcome {
  margin-top: 100px;
  text-align: center; 
}

.welcome .path1 {
  stroke-dasharray: 1440px;
  stroke-dashoffset: 1440px;
  animation: line 3s 0.4s linear forwards;
  
}

.welcome .path2 {
  stroke-dasharray: 1440px;
  stroke-dashoffset: 1440px;
  animation: line 3s 1.5s linear forwards;
}

@keyframes line {
  0% {
    stroke-dashoffset: 1440px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@media (max-width:766px){
  .welcome{
    width: 100%;
    /* transform: scale(7); */
    
  }
}

/* 雲動畫 */

@keyframes cloudmove {
  from {
    transform: scale(0.3) translate(0px);
    opacity: 1;
  }
  to {
    transform: scale(0.3) translate(100px);
    opacity: 0;
  }
}

.cloud1 {
  position: absolute;
  top: 110px;
  left: 20px;
  animation: cloudmove 8s linear infinite forwards;
  transform: scale(0.3)
}

.cloud2 {
  position: absolute;
  top: 10px;
  left: 260px;
  animation: cloudmove 10s linear infinite forwards;
}

.cloud3 {
  position: absolute;
  top: 490px;
  left: 920px;
  animation: cloudmove 10s linear infinite forwards;
}
.cloud4 {
  position: absolute;
  top: 260px;
  left: 995px;
  animation: cloudmove 8s linear infinite forwards;
}
.cloud5 {
  position: absolute;
  top: 100px;
  left: 830px;
  animation: cloudmove 6s linear infinite forwards;
}
.cloud6 {
  position: absolute;
  top: 400px;
  left: -20px;
  animation: cloudmove 6s linear infinite forwards;
  
}

.cloud {
  height: 60px;
  width: 225px;
  background-color: white;
  border-radius: 100px;
}

.cloud::after {
  content: "";
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -93px;
  left: 60px;
}

.cloud::before {
  content: "";
  display: block;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -36px;
  left: 22px;
}



.top-main {
  background-color: #caf0eb;
  height: 785px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -2;
}



/* 關於我們 */

.ourstory-top {
  position: relative;
  margin-top: 150px;
}

.ourstory-top h1 {
  text-align: center;
}
.ourstory-top h3 {
  text-align: center;
  margin: 30px 0px;
}

.ourstory-down {
  background-image: url(../img/about\ us.jpg);
  width: 100%;
  max-width: 1080px;
  height: 580px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

@media (min-width:576px) and (max-width:766px){
  .ourstory-down{
    height: 400px;
  }
}

@media (max-width:576px){
  .ourstory-down{
    height: 400px;
  }
}

.ourstory-circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  background-color: #f37136;
  text-align: center;
  position: absolute;
  top: -30px;
  right: 100px;

  box-shadow: 5px 3px 0px rgba(0, 0, 0, 0.2);
}


@media (min-width:576px) and (max-width:766px){
  .ourstory-circle{
    position: absolute;
    top: -30px;
    right: 10px;
  }
}

@media (max-width:576px){
  .ourstory-circle{
    position: absolute;
    top: -30px;
    right: 10px;
  }
}

@media (max-width:779px){
  .ourstory-circle{

    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.light-1 {
  background-image: url(../img/christmas-304506_640.png);
  width: 640px;
  height: 320px;
  background-repeat: no-repeat;
  position: absolute;
  top: -250px;
  left: -230px;
  transform: rotate(-79deg);
  z-index: -1;
}
.light-2 {
  background-image: url(../img/christmas-304506_640.png);
  width: 640px;
  height: 320px;
  background-repeat: no-repeat;
  position: absolute;
  top: -250px;
  right: -250px;
  transform: rotate(90deg);
  z-index: -1;
}


@media (min-width:576px) and (max-width:766px){
  .light-1{
    position: absolute;
    top: -250px;
    left: -290px;
    transform: rotate(-79deg);
    z-index: -1;
    opacity: 0.7;
  }

  .light-2{
    position: absolute;
    top: -250px;
    right: -290px;
    transform: rotate(90deg);
    z-index: -1;
    opacity: 0.7;
  }
  }

@media (max-width:576px){
  .light-1{
    position: absolute;
    top: -250px;
    left: -290px;
    transform: rotate(-79deg);
    z-index: -1;
    opacity: 0.7;
  }

  .light-2{
    position: absolute;
    top: -250px;
    right: -290px;
    transform: rotate(90deg);
    z-index: -1;
    opacity: 0.7;
  }
}

/* 繪本 */

.bookstore {
  padding-top: 100px;
  width: 1100px;
  margin: 0 auto;
}

@media (min-width:991px) and (max-width:1199px){
  .bookstore{
    width: 960px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .bookstore{
    width: 760px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .bookstore{
    width: 100%;
    border-radius: 0px;
  }
}

@media (max-width:576px){
  .bookstore{
    width: 100%;
    border-radius: 0px;
  }
}

.bookstore h1 {
  margin-bottom: 50px;
  margin: 0 auto 20px;
  text-align: right;
  padding-right: 50px;
}

@media (max-width:766px){
  .bookstore h1{
    text-align: center;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  }



.bookstore_1 {
  display: flex;
  position: relative;
}

@media (max-width:766px){
  .bookstore_1 {
    width: 100%;
    display: block;
  }
  }


.bookstore-left img {
  width: 50px;
  margin: 0px 5px;
}

.bookstore-left {
  background-color: #f5b48c;
  width: 300px;
  height: 550px;
  border-radius: 10px;
  position: relative;
}

@media (min-width:991px) and (max-width:1199px){
  .bookstore-left{
    width: 300px;
    height: 500px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .bookstore-left{
    width: 300px;
    height: 400px;
  }
}

@media (max-width:766px){
  .bookstore-left {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }}

.bookstore-left ul {
  display: flex;
  margin: 70px 20px;
  align-items: center;
}

.bookstore-left li p {
  margin: 0px 5px;
  width: 200px;
}

@media (min-width:767px) and (max-width:991px){
  .bookstore-left ul{
    margin: 40px 20px;
  }
}

@media (max-width:766px){
  .bookstore-left ul {
    margin: 0px 20px;
    padding: 20px 0px;
  }

  .bookstore-left li p {
    margin: 0px 5px;
    width: 100%;
  }
  }



.bookstore-right{
  position: relative;
  width: calc(100% - 300px);
}

.bookstore-right img {
  width: 100%;
  height: 550px;
  margin-right: 20px;
  border-radius: 10px;
  
}

@media (min-width:991px) and (max-width:1199px){
  .bookstore-right img{
    height: 500px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .bookstore-right img{
    height: 400px;
  }
}

@media (max-width:766px){
  .bookstore-right img {
    border-radius: 0px;
    margin-right: 0px;
    height: 400px;
  }
  .bookstore-right{
    width: 100%;
  }
  }

.bookstore-circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  background-color: #f37136;
  text-align: center;
  position: absolute;
  bottom: -60px;
  left: 230px;
  z-index: 1;

  box-shadow: 5px 3px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:766px){
  .bookstore-circle {
    position: absolute;
    bottom: -10%;
    left: 10%;
  }
  }

  @media (max-width:779px){
    .bookstore-circle{
  
      width: 100px;
      height: 100px;
      line-height: 100px;
    }
  }


/* 故事屋 */

.storyhouse {
  background-color:#7ABFB7;
  padding: 30px 0px 100px;

  margin-top: 250px;
  position: relative;
}

.storyhouse h1 {
  text-align: center;
  padding: 100px 0px 0px;
  margin-bottom: 20px;
  position:relative
}

.storyhouse h3 {
  text-align: center;
  position: relative;
  z-index: 1;
}

.storyhouse-pics {
  display: flex;
  width: 95%;
  margin: -30px auto 80px;
  justify-content: center;
}



.storyhouse-pics_left img{
  width: 750px;
  height: 500px;
  border-radius: 30px;
  margin-left: 25px;
  border:5px solid pink;
  box-sizing: border-box;
}


.storyhouse-pics_right{
  font-size: 0;
  margin-left: -50px;
}

.storyhouse-pics_right img{
  display: block;
}

.storyhouse-pics_right img:nth-child(1){
  width: 400px;
  border-radius: 20px;
  border:5px solid pink;
  box-sizing: border-box;

}

.storyhouse-pics_right img:nth-child(2){
  width: 400px;
  border-radius: 20px;
  border:5px solid pink;
  box-sizing: border-box;
}

@media (min-width:1050px) and (max-width:1199px){

  .storyhouse-pics_right{
    font-size: 0;
    margin-left: -50px;
  }

  .storyhouse-pics_left img{
    width: 650px;
    height: 450px;
  }

  .storyhouse-pics_right img:nth-child(1){
    width: 350px;
    border-radius: 20px;
  }
  
  .storyhouse-pics_right img:nth-child(2){
    width: 350px;
    border-radius: 20px;
  }
}

@media (min-width:780px) and (max-width:1050px){
  .storyhouse h1 {
    padding: 60px 0px 0px;
  }


  .storyhouse-pics {
    text-align: center;
    margin: -30px auto 80px;
  }

  .storyhouse-pics_right{
    font-size: 0;
    margin-left: -150px;
    margin-top: 10px;
  }

  .storyhouse-pics_left img{
    width: 550px;
    height: 400px;
  }

  .storyhouse-pics_right img:nth-child(1){
    width: 300px;
    border-radius: 20px;
  }
  
  .storyhouse-pics_right img:nth-child(2){
    width: 300px;
    border-radius: 20px;
  }
}

@media (min-width:590px) and (max-width:779px){

  .storyhouse h1 {
    padding: 60px 0px 0px;
  }

  .storyhouse-pics {
    display: block;
    text-align: center;
  }

  .storyhouse-pics_right{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: -50px;
  }

  .storyhouse-pics_left img{
    width: 550px;
    height: 400px;
    margin-left: 0;
  }

  .storyhouse-pics_right img:nth-child(1){
    width: 250px;
    border-radius: 20px;
  }
  
  .storyhouse-pics_right img:nth-child(2){
    width: 250px;
    height: 145px;
    border-radius: 20px;
  }
}

@media (max-width:589px){

  .storyhouse h1 {
    padding: 60px 0px 0px;
  }

  .storyhouse-pics {
    display: block;
    text-align: center;
  }

  .storyhouse-pics_right{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: -50px;
  }

  .storyhouse-pics_left img{
    width: 100%;
    height: 320px;
    margin-left: 0;
  }

  .storyhouse-pics_right img:nth-child(1){
    width: calc(100% / 2);
    height: 145px;
    border-radius: 20px;
  }
  
  .storyhouse-pics_right img:nth-child(2){
    width: calc(100% / 2);
    height: 145px;
    border-radius: 20px;
  }
}


.storyhouse p {
  text-align: center;
  padding-right: 380px;
  padding-top: 30px;
}

.storyhouse-circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  background-color: #f37136;
  text-align: center;
  position: absolute;
  bottom: 250px;
  left: 730px;
  z-index: 1;

  box-shadow: 5px 3px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width:1050px) and (max-width:1199px){
  .storyhouse-circle{
    bottom: 260px;
    left: 50%;
  }
}

@media (min-width:780px) and (max-width:1049px){
  .storyhouse-circle{
    bottom: 245px;
    left: 51%;
  }
  
}

@media (min-width:590px) and (max-width:779px){
  .storyhouse-circle{

    width: 100px;
    height: 100px;
    line-height: 100px;
    bottom: 260px;
    left: 43%;

  }

  a{
    font-size: 16px;
  }
}

@media (max-width:589px){
  .storyhouse-circle{

    width: 100px;
    height: 100px;
    line-height: 100px;
    bottom: 260px;
    left: 42%;
  }

  a{
    font-size: 16px;
  }
}


/* 近期活動 */

.news h1 {
  text-align: center;
  margin: 100px 0px 30px;
}

.news {
  position: relative;
  margin: 0 auto;
}

@media (min-width:991px) and (max-width:1199px){
  .news{
    width: 960px;
  }}

@media (min-width:767px) and (max-width:991px){

  .news h1 {
    text-align: center;
    margin: 200px 0px 30px;
  }
  .news{
    width: 760px;
  }}

@media (min-width:576px) and (max-width:766px){

  .news h1 {
    text-align: center;
    margin: 200px 0px 30px;
  }
  
  .news{
    width: 100%;
  }}

@media (max-width:576px){
  .news h1 {
    text-align: center;
    margin: 200px 0px 30px;
  }

  .news{
    width: 100%;
  }
}

.news_1 > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px;
}

@media (min-width:576px) and (max-width:766px){
  .news_1 > ul{
    display: block;
    margin: 40px 20px;
  }
}

@media (max-width:576px){
  .news_1 > ul{
    display: block;
    margin: 40px 20px;
  }
}


.news_1 ul > ul {
  margin-left: 60px;
}

@media (min-width:576px) and (max-width:766px){
  .news_1 ul > ul{
    margin-left: 10px;
  }
}

@media (max-width:576px){
  .news_1 ul > ul{
    margin-left: 10px;
  }
}

.news_1 ul > ul p{
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.news_1 img {
  width: 420px;
  height: 300px;
  border-radius: 20px;
}

@media (min-width:576px) and (max-width:766px){
  .news_1 img {
    width: 420px;
    height: 300px;
    border-radius: 20px;
  }
}

@media (max-width:576px){
  .news_1 img {
    width: 100%;
    border-radius: 20px;
  }
}

.news_1 li a {
  font-size: 14px;
  display: block;
  width: 80px;
  height: 30px;
  outline: 2px dashed white;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.news_1 ul a:hover {
  background-color: #f37136;
  color: #474876;
}


.news-circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  background-color: #f37136;
  text-align: center;
  position: absolute;
  bottom: -100px;
  left: 400px;

  box-shadow: 5px 3px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width:576px) and (max-width:766px){
  .news-circle{
    position: absolute;
    bottom: -80px;
    left: 50%;
  }
}

@media (max-width:576px){
  .news-circle{
    position: absolute;
    bottom: -80px;
    left: 50%;
  }
}

@media (max-width:779px){
  .news-circle{

    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

.footer-pics {
  bottom: -27px !important;
}


/* slick */

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 60px;
  line-height: 20px;
  position: absolute;
  top: -35px;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: red;
  -webkit-font-smoothing: antialiased;