@import url(./reset.css);


/* 訂單確認區 */

.order-confirm {
  width: 100%;
  background-color: pink;
  border: 2px dashed black;
  box-sizing: border-box;
  overflow: hidden;
}

.order-confirm h2 {
  text-align: center;
  margin: 50px 0px;
  color:#474876
}

.order-confirm h3 {
  float: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 40%;
  padding-left: 50px;
  box-sizing: border-box;
  background-color: #f37136;
}

.order-confirm h3 + h3 {
  display: inline-block;
  width: 60%;
  border-left: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.order-confirm h4 {
  color: red;
  padding: 10px;
}

.left {
  float: left;
  margin-bottom: 50px;
}

.left img {
  width: 135px;
  height: 165px;
  margin-top: 50px;
}

.left ul {
  background-color: #f37136;
  border: 1px dotted #474876;
  width: 360px;
  height: 365px;
  margin-left: 50px;
}

.left li {
  margin-left: 100px;
}

.right {
  margin-top: 200px;
}

.right li {
  margin-left: 590px;
  margin-top: 40px;
}

.right input {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;

  padding: 20px;
  box-sizing: border-box;
}

.right input:focus {
  background-color: #8cd2ca;
  color: white;
}

.right textarea {
  width: 550px;
  height: 140px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;

  padding: 20px;
  box-sizing: border-box;
}

.right textarea:focus {
  background-color: #8cd2ca;
  color: white;
}

.right ul a {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 55px;
  text-align: center;
  line-height: 50px;
  color: black;

  margin-left: 400px;
}

.right li:nth-child(8) a {
  border: 2px dashed black;
  margin-bottom: 80px;
}

.right li:nth-child(8) a:hover {
  background-color: #f37136;
  color: white;
}

