@import url(./reset.css);


/* 大照片 */

.main-pics {
  background-image: url(../img/group.jpeg);
  width: 100%;
  height: 800px;
  background-position: center center;
  background-size: cover;
  margin: 0px auto 70px;
}

@media (max-width:768px){
  .main-pics{
    width: 100%;
    height: 400px;
  }
}

/* 我們的故事-文字區塊 */
.text {
  margin: 50px 0 100px;
  text-align: center;
  color:white;
}

@media (max-width:576px){
  .text{
    margin: 50px 0 100px;
    text-align: center;
    color:white;
  }
}

.text p {
  margin: 20px auto 0px;
  width: 480px;
}

@media (max-width:576px){
  .text{
    padding: 0px 30px;
  }

  .text p{
    margin: 20px auto 0px;
  }

  .text p:nth-of-type(1){
    width: 100%;
  }

  .text p:nth-of-type(2){
    width: 100%;
  }

  .text p:nth-of-type(3){
    width: 100%;
  }
}

/* 空間 */

.space-bigpics {
  background-image: url(../img/space3.jpg);
  width: 1200px;
  height: 600px;
  background-size: cover;
  background-position: center center;

  margin: 20px auto 0px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: background-image 0.5s;

  position: relative;
}

.space-bigpics.bgi1{
  background-image: url(../img/space1.jpg);
}

.space-bigpics.bgi2{
  background-image: url(../img/space2.jpg);
}

.space-bigpics.bgi3{
  background-image: url(../img/space3.jpg);
}

.space-bigpics.bgi4{
  background-image: url(../img/space4.jpg);
}

.space-bigpics.bgi5{
  background-image: url(../img/space5.jpg);
}

.space-bigpics.bgi6{
  background-image: url(../img/space6.jpg);
}

@media (min-width:991px) and (max-width:1199px){
  .space-bigpics{
    width: 960px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .space-bigpics{
    width: 700px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .space-bigpics{
    width: 540px;
    height: 350px;
    border-radius: 0px;
  }
}

@media (max-width:576px){
  .space-bigpics{
    width: 100%;
    height: 350px;
    border-radius: 0px;
  }
}

.space-intro{
  text-align: center;
  color:white;
  position: relative;
}

.space-intro h1{
  padding-top: 30px;
}

.space-intro:before {
  content: "";
  display: block;
  width: 800px;
  height: 800px;
  background-color: #7ABFB7;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
}

@media (min-width:767px) and (max-width:991px){
  .space-intro:before{
    width: 700px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .space-intro:before{
    width: 530px;
    height: 530px;
  }
}

@media (max-width:576px){
  .space-intro:before{
    width: 100%;
    height: 350px;
  }
}



.space-text {
  border: 1px dotted black;
  width: 300px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;

  color: #4b527c;
  background-color: #e5e5e5;
}

@media (max-width:766px){
  .space-text{
   display: none;
}}

.space-text_phone{
  width: 1200px;
  border: 1px dotted black;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;

  color: #4b527c;
  background-color: #e5e5e5;
  display: none;
}

@media (min-width:991px) and (max-width:1199px){
  .space-text_phone{
    width: 960px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .space-text_phone{
    width: 700px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .space-text_phone{
    width: 540px;
    display: block;
  }
}

@media (max-width:576px){
  .space-text_phone{
    width: 100%;
    display: block;
  }
}


.space-down {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  transition: all, 0.5s;
  text-align: center;
  flex-grow: 1;
  
}

@media (min-width:991px) and (max-width:1199px){
  .space-down{
    width: 960px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .space-down{
    width: 700px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .space-down{
    width: 540px;
    flex-wrap: wrap;
  }
}

@media (max-width:576px){
  .space-down{
    width: 100%;
    flex-wrap: wrap;
  }
}

.space-1 {
  background-image: url(../img/space1.jpg);
  flex-basis: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  transition: all, 1s;
  cursor: pointer;
  
}
.space-2 {
  background-image: url(../img/space2.jpg);
  flex-basis: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.space-3 {
  background-image: url(../img/space3.jpg);
  flex-basis: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;

  cursor: pointer;
}
.space-4 {
  background-image: url(../img/space4.jpg);
  flex-basis: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;

  cursor: pointer;
}
.space-5 {
  background-image: url(../img/space5.jpg);
  flex-basis: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;

  cursor: pointer;
}
.space-6 {
  background-image: url(../img/space6.jpg);
  flex-basis: 200px;
  height: 100px;
  background-size: cover;
  background-position: center center;

  cursor: pointer;
}


@media (min-width:576px) and (max-width:766px){
  .space-1, .space-2, .space-3, .space-4, .space-5, .space-6{
    flex-basis: calc( 100% / 3 );
  }
}

@media (max-width:576px){
  .space-1, .space-2, .space-3, .space-4, .space-5, .space-6{
    flex-basis: calc( 100% / 3 );
  }
}

.space-1:before {
  content: "室內空間";
  display: block;
  height: 100px;
  background-color: white;
  color: #4b527c;
  font-size: 25px;
  line-height: 100px;
  opacity: 0;
  transition: all, 1s;
}

.space-2:before {
  content: "展覽空間";
  display: block;
  height: 100px;
  background-color: white;
  color: #4b527c;
  font-size: 25px;
  line-height: 100px;
  opacity: 0;
  transition: all, 1s;
}

.space-3:before {
  content: "閱讀空間";
  display: block;
  height: 100px;
  background-color: white;
  color: #4b527c;
  font-size: 25px;
  line-height: 100px;
  opacity: 0;
  transition: all, 1s;
}

.space-4:before {
  content: "廁所";
  display: block;
  height: 100px;
  background-color: white;
  color: #4b527c;
  font-size: 25px;
  line-height: 100px;
  opacity: 0;
  transition: all, 1s;
}

.space-5:before {
  content: "遊戲空間";
  display: block;
  height: 100px;
  background-color: white;
  color: #4b527c;
  font-size: 25px;
  line-height: 100px;
  opacity: 0;
  transition: all, 1s;
}

.space-6:before {
  content: "戶外空間";
  display: block;
  height: 100px;
  background-color: white;
  color: #4b527c;
  font-size: 25px;
  line-height: 100px;
  opacity: 0;
  transition: all, 0.8s;
}

.space-1:hover:before,
.space-2:hover:before,
.space-3:hover:before,
.space-4:hover:before,
.space-5:hover:before,
.space-6:hover:before {
  opacity: 0.8;
}

/* 成員 */

.staff-text {
  margin-top: 50px;
  text-align: center;
  color:white;
}

.staff {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.staff > ul > li > p{
  text-align: left;
  padding-left: 50px;
  margin-top: 5px;
}

@media (min-width:991px) and (max-width:1199px){
  .staff{
    width: 960px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .staff{
    width: 700px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .staff{
    width: 540px;
    display: block;
  }

  .staff > ul > li > p{
    padding-left: 0px;
  }

  .staff ul > li > img{
    float: left;
  }

  .staff ul > li:nth-child(2){
    width: 100%;
  }
}

@media (max-width:576px){
  .staff{
    width: 100%;
    display: block;
  }

  .staff > ul > li > p{
    padding-left: 0px;
  }

  .staff ul > li > img{
    float: left;
  }
  
  .staff ul > li:nth-child(2){
    width: 100%;
  }
}

.staff ul {
  margin: 50px 30px;
}

.staff ul li img {
  width: 150px;
}

.staff ul li {
  width: 300px;
  text-align: center;
}
