@import url(./reset.css);

span{
  color:#4B527C;
}

/* 大照片 */

.main-pics {
  background-image: url(../img/b5.jpg);
  width: 100%;
  height: 800px;
  background-position: center center;
  background-size: cover;
  margin: 0px auto 70px;
}

@media (max-width:768px){
  .main-pics{
    width: 100%;
    height: 400px;
  }
}

/* 商品區 */


.product {
  width: 1200px;
  margin: 0 auto;
}

@media (min-width:1200px){
  .product{
    width:1140px
  }}

@media (min-width:992px) and (max-width:1199px){
.product{
  width:960px
}}

@media (min-width:768px) and (max-width:991px){
.product{
  width:720px
}}

@media (min-width:576px) and (max-width:767px){
.product{
  width:540px
}}

@media (max-width:575px){
.product{
  width:100%
}
}



.searchbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

@media (max-width:767px){
  .searchbar{
    justify-content: flex-start;
    margin-left: 10px;
  }}

.searchbar button {
  position: absolute;
  right: 25px;
  top: 17px;
  border:0px;
  background-color: #F37136;
  cursor: pointer;
}

@media (max-width:767px){
  .searchbar button{
    position: absolute;
    left: 200px;
    top: 17px;
  }}

.searchbar input {
  height: 50px;
  width: 250px;
  line-height: 50px;
  border-radius: 15px;
  background-color: #F37136;
  color:white;
  outline: none;
  border: none;
  font-size: 18px;
  transition: 0.5s;

  padding: 20px 20px 20px 25px;
  box-sizing: border-box;
}

.searchbar input::placeholder, .searchbar i{
  color:white
}

.product-text{
  position: relative;
  margin: 30px 0px 40px;
}

@media (max-width:991px){
  .product-text{
    margin: 30px 0px 20px;
  }}

.product-text span{
  font-size: 28px;
  margin-right: 50px;
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width:991px){
  .product-text span{
    display: block;
  }}

.product-text span:hover{
  color:#F37136;
}

.product-text>span:first-child{
  color:#F37136;
}


.product-cate_items{
  display: none;
  position: absolute;
  top: 45px;
  left: 230px;
}

@media (max-width:991px){
  .product-cate_items{
    position: relative;
    top: 0px;
    left: 0px;
  }}

.product-cate_items ul{
  display: flex;
  margin-bottom: 10px;
}

@media (max-width:767px){
  .product-cate_items ul{
    flex-direction: column;
  }}

.product-cate_items ul li{
  list-style: disc;
  margin-left: 30px;
}

.product-cate_items a{
  font-size: 20px;
  display: block;
  color:#4B527C;
}


@media (max-width:767px){
  .product-cate_items a{
    font-size: 18px;
  }}

.product-cate_items li:hover, .product-cate_items a:hover{
  color:#F37136;
}



.product-items {
  display: flex;
  width: 1200px;
  background-color: #ffc0cb;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

    @media (min-width:1200px){
      .product-items{
        width:1140px;
      }}
  
  @media (min-width:992px) and (max-width:1199px){
    .product-items{
      width:960px;
  }}
  
  @media (min-width:768px) and (max-width:991px){
    .product-items{
      width:720px;
  }}
  
  @media (min-width:576px) and (max-width:767px){
    .product-items{
      width:540px;
    }}
  
  @media (max-width:575px){
    .product-items{
      width:100%;
    }
  }

.product-items .item{
  width: 338px;
  border:1px dotted #e5e5e5;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

@media (min-width:992px) and (max-width:1199px){
  .product-items .item{
    width:278px;
  }}

  @media (min-width:768px) and (max-width:991px){
    .product-items .item{
      width:318px;
  }}

  @media (min-width:576px) and (max-width:767px){
    .product-items .item{
      width:360px;
      margin: 10px auto;
    }}

    @media (max-width:575px){
      .product-items .item{
        width:100%;
      }
    }

.product-items .item h3{
  text-align: left;
  padding-left: 35px;
  color:#4B527C;
}

.product-items .item h3:nth-of-type(4){
  color: #4B527C;
 letter-spacing: 5px;
}

.fa-minus-square{
  padding: 20px;
  color: red;
  cursor: pointer;
}

.fa-plus-circle{
  padding: 20px;
  color:green;
  cursor: pointer;
}


.product-items .item img{
  width: 100%;
  height: 350px;
}

@media (min-width:992px) and (max-width:1199px){
  .product-items .item img{
    max-width: 100%;
    height: 50%;
  }}


  @media (min-width:576px) and (max-width:767px){
    .product-items .item img{
      max-width: 100%;
      height: 50%;
    }}

    @media (max-width:575px){
      .product-items .item img{
        width: 80%;
        height: 310px;
      }
    }

.product-items .item a{
  display: inline-block;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  line-height: 30px;
  background-color: #F37136;
  border:2px solid #F37136;
  border-radius: 20px;
}

@media (min-width:992px) and (max-width:1199px){
  .product-items .item a{
    width: 123px;
  }}


.product-items .item a:nth-of-type(1){
  background-color: transparent;
  border:2px dotted white;
  color:#4B527C;
}

.product-items .item a:nth-of-type(1):hover{
  background-color: #F37136;
  color:white;
}

.product-items .item a:nth-of-type(2):hover{
  color:#4B527C;
}


/* 頁碼 */

.page {
  margin: 20px auto 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page a,
.page span {
	margin: 0 7px;
	line-height: 1;
  color:white;
}

.page a:nth-child(2){
	color: #f37136;
	font-size: 25px;
}

.page span {
	font-size: 40px;
}

.page a:hover,
.page span:hover {
	color: #f37136;
}

