@import url(../CSS/reset.css);
body {
  width: 100%;
  background-color: #8cd2ca;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  color: #474876;
  line-height: 1.8;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
}

img{
  max-width: 100%;
}

h1 {
  font-family: "Stick";
  font-size: 58px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  color: #474876;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.top-header {
  background-color: #8cd2ca;
  height: 150px;
  position: relative;
  padding-top: 40px;
  font-family: "田氏方筆刷体繁";
  margin: 0 auto;
}

@media screen and (max-width:1200px){
  .top-header{
    width: 100%;
  }
}

.log a:first-child {
  position: absolute;
  top: 30px;
  right: 100px;
}
.log a:last-child {
  position: absolute;
  top: 30px;
  right: 50px;
}

.top-header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.top-header ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  border-bottom: 3px solid transparent;
}

.top-header ul li:not(:nth-child(4)){
  height: 100px;
  line-height: 50px;
}

.top-header ul>li>img{
  transform: translateY(80px);
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top-header ul>li:hover>img{
  transform: translateY(-15px);
}


.top-header .stay{
  transform: translateY(-15px);
}

.top-header a {
	text-decoration: none;
	color: #4b527c;
	font-size: 20px;
	font-weight: bold;
  position: relative;
  z-index: 2;
}

.top-header img {
  height: 80px;
}

.top-header a:visited {
  color: #4b527c;
}

/* 大照片 */

.main-pics {
  background-image: url(../img/b5.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px auto 70px;
}

/* 商品區 */

.searchbar {
  margin-left: 680px;
  margin-bottom: 60px;
  position: relative;
}

.searchbar .fa-search {
  position: absolute;
  top: 17px;
  left: 200px;
  cursor: pointer;
}

.searchbar input {
  height: 50px;
  width: 250px;
  line-height: 50;
  border-radius: 30px;
  background-color: #F37136;
  color:white;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;

  padding: 20px 20px 20px 30px;
  box-sizing: border-box;
}

.searchbar input::placeholder, .searchbar i{
  color:white
}

.product-text {
  margin: 100px 150px 10px;
}

.product-text span {
  font-size: 25px;
  cursor: pointer;
}

.product-serch  {
  display: inline-block;
}

.product-serch_cate{
  display: inline-block;
  margin-left: 50px;
}


.product-cate_items{
  display: none;
}

.product-cate_items ul{
  display: flex;
  margin-left: 140px;
}

.product-cate_items ul li{
  margin-left: 40px;
  list-style: disc;
}


.product-cate_items span{
  font-size: 20px;
}

.product-out {
  display: flex;
  width: 960px;
  height: 520px;
  background-color: #ffc0cb;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.product-in {
  display: flex;
  position: absolute;
  top: 145px;
  left: -70px;
}

.product-in img {
  height: 230px;
  width: 200px;
  display: block;
  cursor: pointer;
}

.product-in > ul {
  display: flex;
  width: 380px;
}


.product-in ul > ul {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  justify-content: center;
}

.product-in ul > ul > li{
  margin-top: 15px;
}

.product-in ul > ul > li > p {
 font-size: 16px;
 background-color: #4B527C;
 color:white;
 border-radius: 5px;
 padding:0px 5px;
 margin-right: 10px;
}

.product-in ul > ul > li > a {
  display: block;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  padding-left: 30px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #F37136;
 }

 .product-in ul > ul > li > input {
  height: 20px;
  width: 155px;
  font-size: 16px;
  border-radius: 5px;
  outline: none
  border:none;
  background-color: #F37136;
  color:white;
  font-size: 16px;
 }

 .product-in ul > ul > li > input::placeholder {
  color:white;
 }

 .product-in ul > ul > li:nth-child(4){
   display: inline-block;
 }

/* footer */

footer {
  height: 200px;
  width: 100%;
  background-color: #34866e;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 300px;
  color: white;
}

footer iframe {
  width: 300px;
  height: 185px;
  border-radius: 5%;
  margin: 0px 80px;
}

.contactinfo {
  margin-left: 30px;
}

.contactinfo a {
  margin-right: 10px;
}

.footer-pics {
  height: 500px;
  position: absolute;
  bottom: 0px;
  left: 830px;
}

.m1{
  height: 150px;
  position: absolute;
  top: -130px;
  left: 805px;
  z-index: -1;
}

.m2{
  height: 150px;
  position: absolute;
  top: -120px;
  left: 750px;
  z-index: -2;
}

.m3{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 660px;
  z-index: -3;
}

.m4{
  height: 160px;
  position: absolute;
  top: -120px;
  left: 320px;
  z-index: -1;
}

.m5{
  height: 160px;
  position: absolute;
  top: -110px;
  left: 260px;
  z-index: -2;
}
.m6{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 140px;
  z-index: -3;
}
