@import url(./reset.css);

body h2, h3{
  color:#4B527C
}


.main-pics {
  background-image: url(../img/question1.jpg);
  width: 100%;
  height: 800px;
  background-position: center center;
  background-size: cover;
  margin: 0px auto 70px;
}

@media (max-width:768px){
  .main-pics{
    width: 100%;
    height: 400px;
  }
}

/* 問題列 */

.searchbar {
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  justify-content: flex-start;
}

.searchbar .fa-search {
  position: absolute;
  top: 17px;
  left: 300px;
  cursor: pointer;
  color:black;
}

.searchbar input {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;
  padding: 20px 20px 20px 50px;
  box-sizing: border-box;

}

.question-block{

  width: 1000px;
  margin: 0 auto;
}

@media (min-width:1200px){
  .question-block{
    width: 1000px;
    margin: 0 auto;
  }
}


@media (min-width:991px) and (max-width:1199px){
  .question-block{
    width: 960px;
  }
}

@media (min-width:767px) and (max-width:991px){
  .question-block{
    width: 700px;
  }
}

@media (min-width:576px) and (max-width:766px){
  .question-block{
    width: 540px;
  }
}

@media (max-width:576px){
  .question-block{
    width: 100%;
  }
}

.question1 {
  width: 100%;
  background-color: #F37136;
  border-radius: 30px;
  margin: 10px auto 0px;
  cursor: pointer;
}

.question1 h3 {
  margin-left: 20px;
  line-height: 50px;
}

.answer1 {
  width: 100%;
  background-color: #ffbcbc;
  border-radius: 30px;
  padding-left: 72px;
  margin: 0 auto;
  display: none;

  box-sizing: border-box;
}

.answer1 h3 {
  margin-left: 20px;
  line-height: 50px;
}

/* 與我聯絡 */

.contactus {
  width: 900px;

  background-color: #ffbcbc;
  margin: 50px auto 0px;
  padding: 30px 0;
  border-radius: 30px;
}


@media (min-width:768px) and (max-width:991px){
  .contactus{
    width: 720px;
  }
}

@media (min-width:576px) and (max-width:768px){
  .contactus{
    width: 540px;
  }
}

@media (max-width:576px){
  .contactus{
    width: 100%;
  }
}


.contactus h2 {
  text-align: center;
}

.contactus input[type="text"] {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;

  padding: 20px;
  box-sizing: border-box;
}

.contactus input[type="submit"]{
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 70px;
  border-radius: 10px;
  background-color: #F37136;
  color:#4B527C;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;

  box-sizing: border-box;
  border:1px solid black;
}

.contactus input:focus {
  background-color: #8cd2ca;
  color: white;
}
.contactus ul {
  display: flex;
  margin: 30px 10px 10px;
}

.contactus ul li:first-child {
  text-align: right;
  width: 250px;
  padding-top: 5px;
}

.contactus li {
  margin: 0px 10px;
}

@media (min-width:768px) and (max-width:991px){
  .contactus ul li:first-child{
    width: 160px;
  }
}

@media (min-width:576px) and (max-width:768px){
  .contactus ul li:first-child{
    width: 100px;
    padding-left: 20px;
  }
}

@media (max-width:576px){
  .contactus ul li:first-child{
    text-align: center;
  }

  .contactus ul{
    margin: 5px 0px;
  }
}

@media (max-width:576px){
  .contactus ul{
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  .contactus input[type="text"]{
    width: 100%;
  }
}


.contactus textarea {
  width: 500px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width:576px) and (max-width:768px){
  .contactus textarea{
    width: 350px;
  }
}

@media (max-width:576px){
  .contactus textarea{
    width: 300px;
  }
  .contactus h2{
    margin-bottom: 20px;
  }

  .contactus h3{
    text-align: left;
  }
}

.contactus textarea:focus {
  background-color: #8cd2ca;
  color: white;
}

input[type="submit"]{
  cursor: pointer;
}

