@import url(../CSS/reset.css);
body {
  width: 100%;
  background-color: #8cd2ca;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  color: #474876;
  line-height: 1.8;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
}

img{
  max-width: 100%;
}

h1 {
  font-family: "Stick";
  font-size: 58px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  color: #474876;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.top-header {
  background-color: #8cd2ca;
  height: 150px;
  position: relative;
  padding-top: 40px;
  font-family: "田氏方筆刷体繁";
  margin: 0 auto;
}

@media screen and (max-width:1200px){
  .top-header{
    width: 100%;
  }
}

.log a:first-child {
  position: absolute;
  top: 30px;
  right: 100px;
}
.log a:last-child {
  position: absolute;
  top: 30px;
  right: 50px;
}

.top-header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.top-header ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  border-bottom: 3px solid transparent;
}

.top-header ul li:not(:nth-child(4)){
  height: 100px;
  line-height: 50px;
}

.top-header ul>li>img{
  transform: translateY(80px);
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top-header ul>li:hover>img{
  transform: translateY(-15px);
}

.top-header .stay{
  transform: translateY(-15px);
}

.top-header a {
	text-decoration: none;
	color: #4b527c;
	font-size: 20px;
	font-weight: bold;
  position: relative;
  z-index: 2;
}

.top-header img {
  height: 80px;
}

.top-header a:visited {
  color: #4b527c;
}

.main-pics {
  background-image: url(../img/question1.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
  margin: 0px auto 70px;
}

@media screen and (max-width:1200px){
  .main-pics{
    width: calc(100% - 200px);
    background-position: center center;
  }
}

@media screen and (max-width:768px){
  .main-pics{
    width: 100%;
    background-position: center center;
    border-radius: 0px;
  }
}

/* 問題列 */

.searchbar {
  margin-left: 100px;
  position: relative;
}

.searchbar .fa-search {
  position: absolute;
  top: 17px;
  left: 300px;
  cursor: pointer;
}

.searchbar input {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  transition: 0.5s;

  padding: 20px 20px 20px 50px;
  box-sizing: border-box;

}

.question1 {
  width: 1000px;
  height: 50px;
  background-color: #F37136;
  border-radius: 30px;
  margin: 10px auto 0px;
  cursor: pointer;
}

.question1 h3 {
  margin-left: 20px;
  line-height: 50px;
}

.answer1 {
  width: 1000px;
  height: 50px;
  background-color: #ffbcbc;
  border-radius: 30px;
  padding-left: 72px;
  margin: 0 auto;
  display: none;

  box-sizing: border-box;
}

.answer1 h3 {
  margin-left: 20px;
  line-height: 50px;
}

/* 與我聯絡 */

.contactus {
  width: 900px;

  background-color: #ffbcbc;
  margin: 50px auto 0px;
  padding: 30px 0;
  border-radius: 30px;
}
.contactus h2 {
  text-align: center;
}

.contactus input {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;

  padding: 20px;
  box-sizing: border-box;
}

.contactus input:focus {
  background-color: #8cd2ca;
  color: white;
}
.contactus ul {
  display: flex;
}

.contactus ul li:first-child {
  text-align: right;
  width: 250px;
  padding-top: 5px;
}

.contactus li {
  margin: 30px 10px 10px;
}

.contactus textarea {
  width: 500px;
  border-radius: 30px;
  background-color: #ffefd5;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;
  padding: 20px;
  box-sizing: border-box;
}

.contactus textarea:focus {
  background-color: #8cd2ca;
  color: white;
}

footer {
  width: 100%;
  min-width: 1200px;
  background-color: #34866e;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 300px;
  color: white;
}

footer iframe {
  width: 250px;
  margin: 0px 130px;
}

.contactinfo {
  margin-left: 30px;
}

.contactinfo a {
  margin-right: 10px;
}

.footer-pics {
  height: 500px;
  position: absolute;
  bottom: 0px;
  left: 830px;
}

.m1{
  height: 150px;
  position: absolute;
  top: -130px;
  left: 805px;
  z-index: -1;
}

.m2{
  height: 150px;
  position: absolute;
  top: -120px;
  left: 750px;
  z-index: -2;
}

.m3{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 660px;
  z-index: -3;
}

.m4{
  height: 160px;
  position: absolute;
  top: -120px;
  left: 320px;
  z-index: -1;
}

.m5{
  height: 160px;
  position: absolute;
  top: -110px;
  left: 260px;
  z-index: -2;
}
.m6{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 140px;
  z-index: -3;
}
