@import url(./reset.css);

body h3{
  color:#4B527C
}

/* 導覽列結束 */

.main-pics {
  background-image: url(../img/storyhousepic1.jpg);
  width: 100%;
  height: 800px;
  background-position: center center;
  background-size: cover;
  margin: 0px auto 70px;
}

@media (max-width:768px){
  .main-pics{
    width: 100%;
    height: 400px;
  }
}



.title {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}

/* 預約選單 */

.resverbtn {
  display: flex;
  width: 1000px;
  margin: 50px auto;

  position: relative;
}

@media (min-width:768px) and (max-width:991px){
  .resverbtn{
  width:720px;
}}

@media (min-width:576px) and (max-width:767px){
  .resverbtn{
  width:540px;
  display: block;
}}

@media (max-width:575px){
  .resverbtn{
  width:100%;
  display: block;
}}

.resverbtn ul {
  position: relative;
  margin-left: 30px;
}

@media (min-width:576px) and (max-width:767px){
  .resverbtn ul{
    margin-top: 20px;
    margin: 30px;
}}

@media (max-width:575px){
  .resverbtn ul{
    margin-top: 20px;
    margin: 30px;
}}

.resverbtn h3 {
  margin-left: 15px;
  font-size: 24px;
}

.resverbtn span{
  font-size: 12px;
}

.resverbtn input {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  background-color: #F37136;
  outline: none;
  border: none;
  font-size: 18px;
  transition: 0.5s;
  color:white;
  font-weight: bold;

  padding: 20px;
  box-sizing: border-box;
}

@media (min-width:576px) and (max-width:767px){
  .resverbtn input{
    width: 100%;
}}

@media (max-width:575px){
  .resverbtn input{
    width: 100%;
}}

.resverbtn input::placeholder{
  color:white;
}


/* 預約圖 */

.resverpics {
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.resverpics ul {
  margin: 0 30px;
}

.resverpics img {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  transition: 2s;
}

.resverpics img:hover{
  transform: rotateY(20deg);
}

.resverpics button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: #ff7322;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;

  transition: 0.5s;

  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}


/* 圖片3d */


.resverpics .resverpics_3d ul{
	width: 300px;
	height: 300px;
  margin: 20px 0;
  cursor: pointer;

	perspective: 500px;

	transform-style: preserve-3d;
	transform: rotate3d(0,0,0,0deg);

	transition: transform 1s;
}

.resverpics .resverpics_3d:hover ul{
	transform: rotate3d(0,1,0,30deg);
}

.resverpics .resverpics_3d.flip ul{
  transform: rotate3d(0,1,0,180deg);
}

.resverpics .resverpics_3d ul p{
	transform: rotateY(180deg);
}

.resverpics .resverpics_3d li{
	width: 300px;
	height: 300px;
	font-size: 3em;
	text-align: center;

	position: absolute;
	left: 0;
	top: 0;
}


.resverpics .resverpics_3d li.top{
	background-color:  #e5e5e5;
	width: 300px;
	height: 50px;
	transform: rotate3d(-1,0,0,90deg);
	transform-origin: center top;
}

.resverpics .resverpics_3d li.left{
	background-color: #e5e5e5;
	transform: rotate3d(0,1,0,90deg);
	width: 50px;
	height: 300px;
	transform-origin: left center;
}

.resverpics .resverpics_3d li.right{
	background-color: #e5e5e5;
	transform: rotate3d(0,-1,0,90deg);
	width: 50px;
	height: 300px;

	transform-origin: right center;
}

.resverpics .resverpics_3d li.bottom{
  background-color: #e5e5e5;
	z-index: 3;
	width: 300px;
	height: 50px;
	transform: rotate3d(1,0,0,90deg);
	transform-origin: center bottom;
}

.resverpics .resverpics_3d .front{
	background-color: #e5e5e5;
	z-index: 5;
	width: 300px;
	height: 300px;
	
	background-size: cover;
}

.resverpics .resverpics_3d .front.front1{
  background-image: url(../img/story.jpg);
}

.resverpics .resverpics_3d .front.front2{
  background-image: url(../img/threepigs.jpg);
}

.resverpics .resverpics_3d .front.front3{
  background-image: url(../img/redhood.png);
}



.resverpics .resverpics_3d.flip .back{
  background-color: #e5e5e5;
  padding: 10px;
  height: 330px;
  width: 330px;
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  left: -14px;
  z-index: 4;
  transform: translate3d(0,0,-50px);
}

