@import url(./reset.css);

body h3{
  color:#4B527C
}

/* 導覽列結束 */

.main-pics {
  background-image: url(../img/storyhousepic1.jpg);
  width: 100%;
  height: 800px;  
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto 70px;
}

.title {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}

/* 預約選單 */

.resverbtn {
  display: flex;
  width: 1000px;
  margin: 50px auto;

  position: relative;
}

.resverbtn ul {
  position: relative;
  margin-left: 30px;
}

.resverbtn h3 {
  margin-left: 15px;
  font-size: 24px;
}

.resverbtn span{
  font-size: 12px;
}

.resverbtn input {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  background-color: #F37136;
  outline: none;
  border: none;
  font-size: 18px;
  transition: 0.5s;
  color:white;
  font-weight: bold;

  padding: 20px;
  box-sizing: border-box;
}

.resverbtn input::placeholder{
  color:white;
}

/* .resverbtn h3::after {
  content: "";
  display: block;
  width: 0;
  height: 0;

  position: absolute;
  top: 58px;
  left: 160px;

  border-style: solid;
  border-width: 10px;
  border-color: #000 transparent transparent transparent;
} */

/* 預約圖 */

.resverpics {
  text-align: center;
  display: flex;
  justify-content: center;
}

.resverpics ul {
  margin: 0 30px;
}

.resverpics img {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

.resverpics button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: #ff7322;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;

  transition: 0.5s;

  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

