@import url(./reset.css);




/* 訂單確認區 */

h1{
  text-align: center;
  margin-bottom: 30px;
}

.order-confirm_header{
  display: flex;
  background-color: #FFBCBC;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  color:#474876;
}

@media (min-width:992px) and (max-width:1199px){
  .order-confirm_header{
  width:960px;
}}

@media (min-width:768px) and (max-width:991px){
  .order-confirm_header{
  width:720px;
}}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_header{
  width:540px;
}}

@media (max-width:575px){
  .order-confirm_header{
  width:100%;
}
}

/* checkbox */

@media (min-width:576px) and (max-width:767px){
  input[type="checkbox"]:not(.checkbox){
    align-self: flex-start;
}}

@media (max-width:575px){
  input[type="checkbox"]:not(.checkbox){
    align-self: flex-start;
}}


.order-confirm_header div{
  flex-grow: 1;
}

.order-confirm_header .goods{
  flex-basis: 300px;
}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_header .goods{
    flex-basis: 180px;
}}

@media (max-width:575px){
  .order-confirm_header .goods{
    flex-basis: 150px;
}}


.order-confirm_main{
  background-color: #FFBCBC;
  width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}


@media (min-width:992px) and (max-width:1199px){
  .order-confirm_main{
  width:960px;
}}

@media (min-width:768px) and (max-width:991px){
  .order-confirm_main{
  width:720px;
}}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_main{
  width:540px;
}}

@media (max-width:575px){
  .order-confirm_main{
  width:100%;
}}

.order-confirm_main .item{
  display: flex;
  align-items: center;
  margin: 20px 0px;
  padding: 20px 0px;
  box-sizing: border-box;
  border-bottom: 1px dotted #e5e5e5;
}

.order-confirm_main .item div{
  flex-grow: 1;
}

.order-confirm_main .item1{
  flex-basis: 10px;
}

.order-confirm_main .item1.cancel{
  display: flex;
  align-items: center;
}

.order-confirm_main .item1.number{
  padding-left: 50px;
}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_main .item1.number{
    padding-left: 20px;
}}

@media (max-width:575px){
  .order-confirm_main .item1.number{
    padding-left: 40px;
}}

.order-confirm_main .goods{
  display: flex;
  align-items: center;
}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_main .goods{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}}

@media (max-width:575px){
  .order-confirm_main .goods{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 120px;
}}


.order-confirm_main .goods .pic{
  width: 100px;
  font-size: 0;
}

.order-confirm_main .goods img{
  max-width: 100%;
  max-height: 100%;
}

.order-confirm_main .goods .text{
  display: inline-block;
  vertical-align: middle;
}

.order-confirm_main .goods .text p:nth-of-type(4){
  letter-spacing: 4px;
}

.order-confirm_main .item .item1{
  color:#474876;
}

.order-confirm_main .item input[type="text"]{
  background-color: transparent;
  border:none;
  outline:none;
  width: 70px;
  font-size: 16px;
  text-align: center;
}

.order-confirm_main .item button{
  border:none;
  outline:none;
  background-color: transparent;
}

.fa-minus-square{
  color:red;
  font-size: 16px;
}

.fa-plus-circle{
  color:green;
  font-size: 16px;
}


.item1.cancel{
  cursor:pointer;
}

.material-icons{
  font-size: 22px;
  color:red;
  cursor: pointer;
}


.order-confirm_check{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #FFBCBC;
  width: 1200px;
  color:#474876;
  padding: 10px 20px;
  box-sizing: border-box;
}

@media (min-width:992px) and (max-width:1199px){
  .order-confirm_check{
  width:960px;
}}

@media (min-width:768px) and (max-width:991px){
  .order-confirm_check{
  width:720px;
}}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_check{
  width:540px;
}}

@media (max-width:575px){
  .order-confirm_check{
  width:100%;
}
}



.order-confirm_check input[type="submit"]{
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border:3px dotted white;
  outline: none;
  background-color: #f37136;
  color:#474876;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

.order-confirm_check>h3{
  padding-right: 200px;
}

@media (min-width:576px) and (max-width:767px){
  .order-confirm_check>h3{
    padding-right: 0px;
}}

@media (max-width:575px){
  .order-confirm_check>h3{
    padding-right: 0px;
}
}


.order-confirm_check input[type="submit"]:hover{
  background-color: #ff5100;
  color:#474876
}


@media (max-width:575px){
  body p{
    font-size: 12px;
}

.item1.cancel{
  justify-content: center
}
.item1.cancel span:first-child{
  display: none;
}
}