@import url(../CSS/reset.css);
body {
	width: 100%;
	background-color: #8cd2ca;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	color: white;
	line-height: 1.8;
	font-weight: bold;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

h1 {
  font-family: "RocknRoll One";
  font-size: 38px;
  font-weight: normal;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 14px;
	color: #474876;
}

a {
	text-decoration: none;
	color: white;
}

.top-header {
	background-color: #8cd2ca;
	width: 100%;
	height: 150px;
	position: relative;
	padding-top: 40px;
	font-family: "田氏方筆刷体繁";
}

.log a:first-child {
  position: absolute;
  top: 30px;
  right: 100px;
}
.log a:last-child {
  position: absolute;
  top: 30px;
  right: 50px;
}

.top-header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.top-header ul li {
  position: relative;
  overflow: hidden;
  width: 100px;
  border-bottom: 3px solid transparent;
}

.top-header ul li:not(:nth-child(4)){
  height: 100px;
  line-height: 50px;
}

.top-header ul>li>img{
    transform: translateY(80px);
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.top-header .stay{
  transform: translateY(-15px);
}

.top-header ul>li:hover>img{
  transform: translateY(-15px);
}

.top-header a {
	text-decoration: none;
	color: #4b527c;
	font-size: 20px;
	font-weight: bold;
  position: relative;
  z-index: 2;
}

.top-header img {
  height: 80px;
}

.top-header a:visited {
  color: #4b527c;
}

/* 影片 */

.top-main {
	text-align: center;
}

.top-main video {
	width: 100%;
	border-radius: 30px;
}

/* 活動照片 */

.sec-block_text {
	margin-top: 50px;
	margin-left: 200px;
}

.sec-block_text h1 {
	display: inline-flex;
	margin-left: 50px;
}

.sec-block_text h1 a:hover {
	transition: 0.3s;
	color: #f37136;
}

.sec-block_pics {
	margin: 40px 35px 0px;
}

.sec-block_pics > ul {
	display: flex;
	margin-top: 50px;
	margin-left: 50px;
}

.sec-block_pics ul > ul {
	width: 600px;
	margin: 10px 0px;
}

.sec-block_pics img {
	width: 300px;
	margin-right: 30px;
	border-radius: 30px;
}

.sec-block_pics a {
	font-size: 14px;
	display: block;
	width: 80px;
	height: 30px;
	outline: 2px dashed white;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	transition: 0.3s;
}

.sec-block_pics a:hover {
	background-color: #f37136;
	color: #474876;
}

/* 頁碼 */
.page {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page a,
.page span {
	margin: 0 7px;
	line-height: 1;
	font-size: 20px;
}

.page span {
	font-size: 40px;
}

.page a:hover,
.page span:hover {
	color: #f37136;
}

/* footer */

footer {
  height: 200px;
  width: 100%;
  background-color: #34866e;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 300px;
  color: white;
}

footer iframe {
  width: 300px;
  height: 185px;
  border-radius: 5%;
  margin: 0px 80px;
}

.contactinfo {
  margin-left: 30px;
}

.contactinfo a {
  margin-right: 10px;
}

.footer-pics {
  height: 500px;
  position: absolute;
  bottom: 0px;
  left: 830px;
}

.m1{
  height: 150px;
  position: absolute;
  top: -130px;
  left: 805px;
  z-index: -1;
}

.m2{
  height: 150px;
  position: absolute;
  top: -120px;
  left: 750px;
  z-index: -2;
}

.m3{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 660px;
  z-index: -3;
}

.m4{
  height: 160px;
  position: absolute;
  top: -120px;
  left: 320px;
  z-index: -1;
}

.m5{
  height: 160px;
  position: absolute;
  top: -110px;
  left: 260px;
  z-index: -2;
}
.m6{
  height: 160px;
  position: absolute;
  top: -140px;
  left: 140px;
  z-index: -3;
}
