@import url(../CSS/reset.css);
*{
  vertical-align: center;
}

li {
  height: 100px;
  width: 100px;
  background-color: #ffc0cb;
  text-align: center;
  vertical-align: middle;
}

a{
  vertical-align: middle;
}